.teacherSelect {
  width: 100%;
  height: 36px;
  padding: 6px 10px;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  background: #fff;
  font-size: 14px;
  color: #111;
  box-sizing: border-box;
  font-size: 80%;
}
.teacherSelectDisabled {
  width: 100%;
  height: 36px;
  padding: 6px 10px;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  background: #fff;
  font-size: 14px;
  color: #111;
  box-sizing: border-box;
  opacity: 0.6;
  cursor: not-allowed;
   font-size: 80%;
}

.activityRow:last-child td {
  border-bottom: none;
  padding-bottom: 16px;
}
